# Git commands for this file

git status

git add Complete Python Bootcamp.ipynb

git commit -m "complete python bootcamp"

git push origin gh-pages

# Datatypes in python

![data-types](images/data-types-python.png)

# To check for the datatype in python

In [3]:
a = 20
type(a)

int

In [4]:
a = 30.1
type(a)

float

# Strings in python

In [ ]:
# Both single quotes and double quotes can be used to denote a string

In [5]:
"hello"

'hello'

In [6]:
'hello'

'hello'

In [ ]:
# If there is a single quote in the string then wrap the whole string in double quotes

In [7]:
"I'm going on a run"

"I'm going on a run"

## Using Escape character in python

In [8]:
print('hello \n world')

hello
 world

In [9]:
print('hello \t world')

hello 	 world

## To check the length of the string

In [10]:
len('Hello')

5

## String Indexing and slicing

In [11]:
mystring = "Hello World"

In [12]:
mystring

'Hello World'

In [13]:
mystring[0]

'H'

In [14]:
mystring[1]

'e'

## Reverse indexing in python

In [15]:
mystring

'Hello World'

In [16]:
mystring[-2]

'l'

In [17]:
mystring[-1]

'd'

## Slicing in python

In [18]:
mystring = "abcdefghijk"

In [19]:
mystring

'abcdefghijk'

In [20]:
mystring[2]

'c'

In [21]:
mystring[2:]

'cdefghijk'

In [22]:
mystring[:3]

'abc'

In [23]:
mystring[3:6]

'def'

## Using Step size in Python for strings

In [24]:
mystring[::]

'abcdefghijk'

In [25]:
mystring[::2]

'acegik'

In [26]:
mystring[::3]

'adgj'

In [27]:
mystring[2:7:2]

'ceg'

In [28]:
mystring[2:7:1]

'cdefg'

In [ ]:
# Using reverse step size in python

In [30]:
mystring[::-1]

'kjihgfedcba'

In [31]:
mystring[::-2]

'kigeca'

# String Methods

In [36]:
x = "hello world"

In [37]:
x

'hello world'

In [38]:
x.capitalize()

'Hello world'

In [39]:
x.upper()

'HELLO WORLD'

In [40]:
x.lower()

'hello world'

In [41]:
x.split()

['hello', 'world']

In [ ]:
# You can also use split function to remove a certain character as shown below. To remove the letter 'o' you can use the code below.

In [43]:
x.split('o')

['hell', ' w', 'rld']

In [ ]:
# Inserting strings inbetween

In [44]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [45]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [46]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [47]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [ ]:
# Using F STRING & injecting variables to strings

In [49]:
name = "Jose"

In [50]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [51]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [52]:
name ="Sam"
age=3

In [56]:
print(f'Name is {name} and age is {age}')

Name is Sam and age is 3

# Lists in Python

In [2]:
my_list = [1,2,3]

In [3]:
my_list

[1, 2, 3]

In [5]:
my_list = ['STRING', 100, 23.2]

In [6]:
my_list

['STRING', 100, 23.2]

In [ ]:
# To check the length of the list or to check how many items are there in the list

In [7]:
len(my_list)

3

In [8]:
my_list[0]

'STRING'

In [9]:
my_list[1]

100

In [ ]:
# To grab all the values in the list from 1 all the way to the last element

In [10]:
my_list[1:]

[100, 23.2]

In [ ]:
# To concatenate multiple list

In [12]:
my_list = ['one', 'two', 'three']

In [13]:
another_list = ['four', 'five']

In [14]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [15]:
new_list = my_list + another_list

In [16]:
new_list

['one', 'two', 'three', 'four', 'five']

In [17]:
new_list[0] = 'ONE ALL CAPS'

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [ ]:
# To add an element to the list

In [19]:
new_list.append('six')

In [20]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [ ]:
# To remove the last item from the list

In [21]:
new_list.pop()

'six'

In [22]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [23]:
# You can also use pop to get the last item from the list

In [24]:
popped_item = new_list.pop()

In [25]:
popped_item

'five'

In [26]:
# To remove a specific item from the list using the index position

In [27]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [28]:
new_list.pop(0)

'ONE ALL CAPS'

In [29]:
new_list

['two', 'three', 'four']

In [30]:
# To sort items in the list

In [31]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [32]:
new_list.sort()

In [33]:
new_list

['a', 'b', 'c', 'e', 'x']

In [35]:
num_list.sort()

In [36]:
num_list

[1, 3, 4, 8]

In [ ]:
# To reverse eveything in your list

In [38]:
num_list.reverse()

In [39]:
num_list

[8, 4, 3, 1]